{% if app.user %}

{% extends 'base.html.twig' %}

{% block title %}Hello PltComMessengerController!{% endblock %}

{% block body %}


{% else %}
    <a  href="{{ path('index') }}"></a>
{% endif %}
{% endblock %}

