{% extends 'base.html.twig' %}


{% block title %}
    Ajout d'amis
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-md-8 mx-auto text-center">
                <h1>Ajouté un ami</h1>


                {{ form_start(form) }}
                {{ form_row(form.message, {'label': 'Message :','attr': {'placeholder': 'Votre message ...', 'class': 'form-control'} }) }}
                <br>
                <button type="submit" class="btn btn-primary">Ajouté en amis</button>
                <a href="{{ path('contact') }}">
                    <button type="button" class="btn btn-primary">Retour en arrière</button>
                </a>

                {{ form_end(form) }}


            </div>
        </div>
    </div>

    {% include "footer.html.twig" %}
{% endblock %}
