@import url(//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.parallax-element {
    background: transparent;
    padding: 17%;
    display: block !important;
}

.bg-dark {
    background-color: #05427D !important;
    border-color: white !important;
}

figure{
    position:absolute; 
    top: 0.2em; 
    left: 1em; 
    color: black;
}

@media screen and (min-width: 992px){
    figure{
        left: 42.5%;
        top: 0.4em;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(53, 52, 52);
    cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      cursor: pointer;
    background: #05427D;
    transition: background-color .5s, 
      opacity .6s, visibility .7s;
  }

  li:hover{
      font-size: 17px;
    transition: font-size 0.8s;
  }