<form method="post" action="{{ path('message_pri_delete', {'idMessage': message_pri.idMessage}) }}" onsubmit="return confirm('Est tu sur de supprimer ce message?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message_pri.idMessage) }}">
    <button class="btn btn-primary">Delete</button>
</form>
