{% extends 'base.html.twig' %}


{% block title %}Index des Conversation
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/conversation.css">
{% endblock %}


{% block body %}
    <h2 style="text-align:center;">
        Votre liste d'amis, vous pouvez leurs parler quand vous voulez !
    </h2>
    {% for ami in amis %}

        <div class="container">
            <div class="row">
                <div class="list-group col-md-4 mx-auto">
                    <div class="list">
                        {% if ami.idUserAmis is not empty %}
                            <a href="{{ path('conversation_show', {'id': ami.idUserAmis.idUser}) }}" class="list-group-item" style="text-align: center;">

                                {{ ami.idUserAmis.username|title }}

                            </a>
                        {% endif %}
                        <br>
                    </div>

                </div>

            </div>

        </div>
    {% endfor %}
    {% include "footer.html.twig" %}
{% endblock %}
