<!--Liste des groupes de l'utilisateur-->

<div class="col-md-6 text-center">
    <h1 class="text-center">Liste des Groupes:


    </h1>
    <button class="btn btn-primary">
        <a href="{{ path('groupe') }}">
            Retour à la liste des Groupes
        </a>


    </button>

    <br>
    <br>


    <div class="col-md-12 mx-auto">
        <div class="list-group col-md-10 mx-auto">
            <div class="list">
                <a href="{{ path('conversation') }}" class="list-group-item" style="text-align: center;">


                    Nom du groupe


                </a>
            </div>


        </div>


    </div>
</div>
