{% block body %}

{# {% if current user %} #}
        

            <a href="{{ path('conversation_show', {'id': users.idUser}) }}" class="list-group-item" style="text-align: center;">
                {{ users.username }}
            </a>
        
    {# {% else %} #}
        


    {# {% endif %} #}
    {% endblock %}