{% block stylesheets %}
            <link rel="stylesheet" href="/styles/conversation.css">
        {% endblock %}

{% block body %}

{# {% if app.user %} #}

<div class="list">
            <a href="{{ path('conversation_show', {'id': users.idUser}) }}" class="list-group-item" style="text-align: center;">
            
                {{ users.username}}  
            </a>
            <hr>
        </div>
{# {% else %}
<div class="list">
            <a href="{{ path('conversation_show', {'id': users.idUser}) }}" class="list-group-item" style="text-align: center;">
            
                {{ users.username}}  
            </a>
            <hr>
        </div>
{% endif %} #}
{% endblock %}